<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rota Encontrada</title>
</head>
<body>
  <h1>Rota Encontrada</h1>
  <p>A rota mais próxima entre os pontos de origem e destino é:</p>
  <ul>
    <% shortestPath.forEach(point => { %>
      <li><%= point %></li>
    <% }); %>
  </ul>
  <p>A distância total é: <%= distance %> metros.</p>
</body>
</html>

