<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indoor Routes</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    h1 {
      background-color: #009688;
      color: #fff;
      padding: 20px;
      margin: 0;
    }

    p {
      background-color: #fff;
      padding: 20px;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    ul.instructions-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    ul.instructions-list li {
      margin: 5px;
      padding: 10px;
      background-color: #f2f2f2;
      border-radius: 5px;
      display: inline-block;
    }

    ol {
      list-style-type: decimal;
      padding-left: 20px;
    }
  </style>
</head>
<body>
  <h1>Indoor Routes</h1>
  <p>A rota mais próxima entre os pontos de origem e destino é:</p>
  <ul class="instructions-list">
    <% shortestPath.forEach(point => { %>
      <li><%= point %></li>
    <% }); %>
  </ul>
  <p>A distância total é: <%= distance %> metros.</p>
  <p>Instruções:</p>
  <ol>
    <% instructions.forEach(instruction => { %>
      <li><%= instruction %></li>
    <% }); %>
  </ol>
</body>
</html>

