<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indoor Routes</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    h1 {
      background-color: #009688;
      color: #fff;
      padding: 20px;
      margin: 0;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    label {
      font-weight: bold;
      color: #333;
    }

    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #009688;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #007e6e;
    }
    .evento-box {
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <h1>Indoor Routes</h1>
  <form action="/directions" method="GET">
    <!-- Origem -->
    <label for="origem">Origem:</label>
    <select id="origem" name="origem">
      <% locals.forEach(local => { %>
        <option value="<%= local.id %>"><%= local.name %></option>
      <% }); %>
    </select>

    <!-- Div para exibir informações do evento -->
    <div id="evento-info">
      <!-- As informações do evento serão exibidas aqui -->
    </div>

    <!-- Destino -->
    <label for="destino">Destino:</label>
    <select id="destino" name="destino">
      <% locals.forEach(local => { %>
        <option value="<%= local.id %>"><%= local.name %></option>
      <% }); %>
    </select>
    <div id="evento-info-container">
      <!-- As informações dos eventos serão exibidas aqui -->
    </div>

    <!-- Botão de busca -->
    <button type="submit">Buscar Rotas</button>
  </form>
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const destinoSelect = document.getElementById('destino');
    const eventoInfoDiv = document.getElementById('evento-info');

    destinoSelect.addEventListener('change', function () {
      const selectedLocationId = destinoSelect.value;

      if (selectedLocationId) {
        fetch(`/get-event-info?locationId=${selectedLocationId}`)
          .then(response => response.json())
          .then(data => {
            if (data.eventInfo) {
              eventoInfoDiv.innerHTML = `
                <h2>Destino:</h2>
                <p><strong>Título:</strong> ${data.eventInfo.titulo}</p>
                <p><strong>Descrição:</strong> ${data.eventInfo.descricao}</p>
                <p><strong>Data:</strong> ${data.eventInfo.data}</p>
              `;
            } else {
              eventoInfoDiv.innerHTML = '<p>Nenhum evento disponível para este local.</p>';
            }
          })
          .catch(error => {
            console.error('Erro ao buscar informações do evento:', error);
          });
      } else {
        eventoInfoDiv.innerHTML = '';
      }
    });
  });
</script>

</body>
</html>

